.movie-card{
    width: fit-content;
    padding:4px;
    margin-right: 8px;
    margin-bottom: 16px;
    box-shadow: 0 4px 4px 0 #0e161b;
    border-radius: 2px;
    border: 1px solid #0e161b;
}

.movie-card:hover{
    box-shadow: 0 3px 0 0 #0094d2;
    cursor: pointer;
    transform: scale(103%)
}


.movie-poster{
    img{
        height: 380px;
        width: 286px;
    }
}



.movie-info{
    background: #ededed;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size: 18px;
    color: #000;
}